article {
  margin-top: 20px;
}

#results {
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
}
#results table {
  margin-bottom: 0;
}
#tabs {
  margin-bottom: 0;
}
#search {
  width: 384px;
}
#loading {
  margin: 10px -6px 0 0;
  width: 128px;
  display: none;
}
#loading.loading {
  display: block;
}
.nav-tabs > li .close {
  margin: -2px 0 0 10px;
  font-size: 18px;
}
